<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3" data-class="bg-white" id="sidenav-main" style="z-index: 1021">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0">
            <img src="../assets/logo-white.png" class="navbar-brand-img h-100" alt="main_logo" />
            <span class="ms-1 font-weight-bold">TrainerCV</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0" />
    <div class="collapse navbar-collapse w-auto h-auto max-height-vh-100 h-100" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <h6 class="text-uppercase text-xs font-weight-bolder opacity-6 sidenav-normal ms-4 ps-1">MENU</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#dashboard">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                        <i class="fad fa-house-user fs-6 fa-swap-opacity mb-1 text-dark"></i>
                    </div>
                    <span class="nav-link-text ms-1">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#grades">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                        <i class="fad fa-chart-pie-alt fs-6 fa-swap-opacity mb-1 text-dark"></i>
                    </div>
                    <span class="nav-link-text ms-1">Grades</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#remote-sbc">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                        <i class="fad fa-code-merge fs-6 fa-swap-opacity mb-1 text-dark"></i>
                    </div>
                    <span class="nav-link-text ms-1">Access SBC</span>
                </a>
            </li>
            <li class="nav-item">
                <hr class="horizontal dark" />
                <h6 class="text-uppercase text-xs font-weight-bolder opacity-6 sidenav-normal ms-3 ps-1">Modules</h6>
            </li>
            <li class="nav-item">
                <a data-bs-toggle="collapse" href="#module-1" class="nav-link" aria-controls="module-1" role="button" aria-expanded="false">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                        <i class="fad fa-laptop-code fs-6 fa-swap-opacity mb-1 text-dark"></i>
                    </div>
                    <span class="nav-link-text ms-1">Module 1</span>
                </a>
                <div class="collapse" id="module-1">
                    <ul class="nav ms-4 ps-3">
                        <li class="nav-item">
                            <a class="nav-link" href="#module-1-instruction">
                                <span class="sidenav-mini-icon"> <i class="fad fa-file-code fs-6 mb-1 text-dark"></i> </span>
                                <span class="sidenav-normal"> Instructions </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#module-1-iot">
                                <span class="sidenav-mini-icon"> <i class="fad fa-house-signal fs-6 mb-1 text-dark"></i> </span>
                                <span class="sidenav-normal"> IoT Dashboard </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a data-bs-toggle="collapse" href="#module-2" class="nav-link" aria-controls="module-2" role="button" aria-expanded="false">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                        <i class="fad fa-laptop-code fs-6 fa-swap-opacity mb-1 text-dark"></i>
                    </div>
                    <span class="nav-link-text ms-1">Module 2</span>
                </a>
                <div class="collapse" id="module-2">
                    <ul class="nav ms-4 ps-3">
                        <li class="nav-item">
                            <a class="nav-link" href="#module-2-instruction">
                                <span class="sidenav-mini-icon"> <i class="fad fa-file-code fs-6 mb-1 text-dark"></i> </span>
                                <span class="sidenav-normal"> Instructions </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#module-2-iot">
                                <span class="sidenav-mini-icon"> <i class="fad fa-house-signal fs-6 mb-1 text-dark"></i> </span>
                                <span class="sidenav-normal"> IoT Dashboard </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a data-bs-toggle="collapse" href="#module-3" class="nav-link" aria-controls="module-2" role="button" aria-expanded="false">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                        <i class="fad fa-laptop-code fs-6 fa-swap-opacity mb-1 text-dark"></i>
                    </div>
                    <span class="nav-link-text ms-1">Module 3</span>
                </a>
                <div class="collapse" id="module-3">
                    <ul class="nav ms-4 ps-3">
                        <li class="nav-item">
                            <a class="nav-link" href="#module-3-instruction">
                                <span class="sidenav-mini-icon"> <i class="fad fa-file-code fs-6 mb-1 text-dark"></i> </span>
                                <span class="sidenav-normal"> Instructions </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#module-3-iot">
                                <span class="sidenav-mini-icon"> <i class="fad fa-house-signal fs-6 mb-1 text-dark"></i> </span>
                                <span class="sidenav-normal"> IoT Dashboard </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a data-bs-toggle="collapse" href="#module-4" class="nav-link" aria-controls="module-2" role="button" aria-expanded="false">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                        <i class="fad fa-laptop-code fs-6 fa-swap-opacity mb-1 text-dark"></i>
                    </div>
                    <span class="nav-link-text ms-1">Module 4</span>
                </a>
                <div class="collapse" id="module-4">
                    <ul class="nav ms-4 ps-3">
                        <li class="nav-item">
                            <a class="nav-link" href="#module-4-instruction">
                                <span class="sidenav-mini-icon"> <i class="fad fa-file-code fs-6 mb-1 text-dark"></i> </span>
                                <span class="sidenav-normal"> Instructions </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#module-4-iot">
                                <span class="sidenav-mini-icon"> <i class="fad fa-house-signal fs-6 mb-1 text-dark"></i> </span>
                                <span class="sidenav-normal"> IoT Dashboard </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a data-bs-toggle="collapse" href="#module-5" class="nav-link" aria-controls="module-2" role="button" aria-expanded="false">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                        <i class="fad fa-laptop-code fs-6 fa-swap-opacity mb-1 text-dark"></i>
                    </div>
                    <span class="nav-link-text ms-1">Module 5</span>
                </a>
                <div class="collapse" id="module-5">
                    <ul class="nav ms-4 ps-3">
                        <li class="nav-item">
                            <a class="nav-link" href="#module-5-instruction">
                                <span class="sidenav-mini-icon"> <i class="fad fa-file-code fs-6 mb-1 text-dark"></i> </span>
                                <span class="sidenav-normal"> Instructions </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#module-5-iot">
                                <span class="sidenav-mini-icon"> <i class="fad fa-house-signal fs-6 mb-1 text-dark"></i> </span>
                                <span class="sidenav-normal"> IoT Dashboard </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <hr class="horizontal dark" />
                <h6 class="text-uppercase text-xs font-weight-bolder opacity-6 sidenav-normal ms-4 ps-1">OTHER</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#references">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center me-2">
                        <i class="fad fa-books fs-6 fa-swap-opacity mb-1 text-dark"></i>
                    </div>
                    <span class="nav-link-text ms-1">References</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidenav-footer mx-3 my-3 pt-3">
        <div class="card card-background shadow-none card-background-mask-secondary" id="sidenavCard">
            <div class="full-background full-bg-curved"></div>
            <div class="card-body text-start p-3 w-100">
                <div class="icon icon-shape icon-sm bg-white shadow text-center mb-3 d-flex align-items-center justify-content-center border-radius-md">
                    <i class="fas fa-question text-dark text-gradient text-lg top-0" aria-hidden="true" id="sidenavCardIcon"></i>
                </div>
                <div class="docs-info">
                    <h6 class="text-white up mb-0">Need help or Bug report?</h6>
                    <p class="text-xs font-weight-bold">Please contact the administrator</p>
                    <a href="https://telegram.me/TrainerCV_bot" target="_blank" class="btn btn-white btn-sm w-100 mb-0">Contact Admin</a>
                </div>
            </div>
        </div>
    </div>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none me-3">
                <a href="javascript:void(0)" class="nav-link text-body p-0" aria-expanded="false">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </a>
            </div>
            <nav aria-label="breadcrumb">
                <h6 class="font-weight-bolder mb-0 appshell-title"></h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 justify-content-end" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item d-xl-none pe-3 d-flex align-items-center">
                            <a href="javascript:void(0)" class="nav-link text-body p-0" id="iconNavbarSidenav" aria-expanded="false">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="col-auto me-3">
                        <div class="dropdown">
                            <a class="text-dark cursor-pointer" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-n4" aria-labelledby="dropdownMenuButton">
                                <li class="mb-2">
                                    <a class="dropdown-item border-radius-md" href="javascript:void(0)">
                                        <div class="d-flex py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1"><span class="font-weight-bold">Nothing new!</span></h6>
                                                <p class="text-xs text-secondary mb-0">We'll let you know if there's any updates!</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- <li class="mb-2">
                                    <a class="dropdown-item border-radius-md" href="javascript:void(0)">
                                        <div class="d-flex py-1">
                                            <div class="my-auto">
                                                <img src="../vendor/soft-ui-dashboard/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user image" />
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1"><span class="font-weight-bold">New message</span> from Laur</h6>
                                                <p class="text-xs text-secondary mb-0">
                                                    <i class="fa fa-clock me-1"></i>
                                                    13 minutes ago
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto me-3">
                        <div class="dropdown">
                            <a class="text-dark cursor-pointer" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="avatar avatar-sm appshell-image" alt="avatar image" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end px-2 me-n3" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <div class="dropdown-item border-radius-md">
                                        <div class="d-flex py-1">
                                            <div class="my-auto">
                                                <i class="fas fa-user me-3"></i>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1 tcv-email-user"></h6>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <hr class="horizontal dark my-0 py-0" />
                                <li>
                                    <div class="border-radius-md mt-1 mx-2">
                                        <div class="d-flex py-1">
                                            <small class="text-muted">MENU</small>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="dropdown-item border-radius-md tcv-logout" href="#login">
                                        <div class="d-flex py-1">
                                            <div class="my-auto">
                                                <i class="fas fa-sign-out-alt me-3"></i>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1">Log out</h6>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid py-4">
        <div class="row tcv-content">
            <!-- Append Content Here! -->
        </div>
        <footer class="footer pt-3">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            ©2021, made with <i class="fa fa-heart" aria-hidden="true"></i> by
                            <a href="https://www.linkedin.com/in/fahmijabbar/" class="font-weight-bold" target="_blank">Fahmi Jabbar</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <!-- <a href="https://student.upi.edu/home" class="nav-link text-muted" target="_blank">Portal Student UPI</a> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</main>
