<div class="container-fluid mb-5 mt-n4">
    <div class="page-header min-height-300 border-radius-xl mt-4 full-bg-curved0">
        <!-- <span class="mask bg-gradient-primary opacity-6"></span> -->
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                    <img alt="profile_image" class="w-100 border-radius-lg shadow-sm dashboard-image" />
                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1 dashboard-name"></h5>
                    <p class="mb-0 font-weight-bold text-sm dashboard-major"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-lg-6 mb-3">
            <div class="card shadow mb-3">
                <div class="card-header p-3 pb-0">
                    <div class="d-sm-flex align-items-center">
                        <h6 class="mb-0">Download Computer Vision Module</h6>
                        <button class="btn btn-sm bg-gradient-dark ms-auto my-2 tcv-dash-module"><i class="fas fa-cloud-download fs-6 me-2"></i>Download</button>
                    </div>
                </div>
                <div class="card-body p-3">
                    <p class="text-muted text-sm mb-4"><span class="font-weight-bold">Information : </span> This web is presented to everyone who would like to try Computer Vision Trainer. Part of Computer Vision Project, Subject taught by Mr. Dandhi Kuswardhana, Ph.D. Computer vision module consist of 5 different module on how to do practical computer vision project with combination of IoT projects.</p>
                </div>
            </div>
            <div class="card shadow">
                <div class="card-header p-3 pb-0">
                    <h6 class="mb-0">List Jobsheet Trainer Computer Vision</h6>
                </div>
                <div class="card-body border-radius-lg p-3">
                    <div class="d-flex">
                        <div>
                            <div class="icon icon-shape bg-info-soft shadow text-center border-radius-md shadow-none">
                                <i class="fas fa-user-tie text-lg text-primary text-gradient opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="ms-3">
                            <div class="numbers">
                                <h6 class="mb-1 text-dark text-sm">Binary Classification</h6>
                                <span class="text-sm">Module 1</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div>
                            <div class="icon icon-shape bg-primary-soft shadow text-center border-radius-md shadow-none">
                                <i class="fas fa-users text-lg text-primary text-gradient opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="ms-3">
                            <div class="numbers">
                                <h6 class="mb-1 text-dark text-sm">Categorical Classification</h6>
                                <span class="text-sm">Module 2</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div>
                            <div class="icon icon-shape bg-primary-soft shadow text-center border-radius-md shadow-none">
                                <i class="fas fa-shapes text-lg text-primary text-gradient opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="ms-3">
                            <div class="numbers">
                                <h6 class="mb-1 text-dark text-sm">Shape detection</h6>
                                <span class="text-sm">Module 3</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div>
                            <div class="icon icon-shape bg-primary-soft shadow text-center border-radius-md shadow-none">
                                <i class="fas fa-object-group text-lg text-primary text-gradient opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="ms-3">
                            <div class="numbers">
                                <h6 class="mb-1 text-dark text-sm">Object detection + Fruit ripeness detection</h6>
                                <span class="text-sm">Module 4</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <div>
                            <div class="icon icon-shape bg-primary-soft shadow text-center border-radius-md shadow-none">
                                <i class="fas fa-fist-raised text-lg text-primary text-gradient opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="ms-3">
                            <div class="numbers">
                                <h6 class="mb-1 text-dark text-sm">Gesture Recognition (Hands)</h6>
                                <span class="text-sm">Module 5</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card shadow">
                <div class="card-header pb-0">
                    <h6>How to use Trainer Computer Vision</h6>
                </div>
                <div class="card-body p-3">
                    <div class="timeline timeline-one-side" data-timeline-axis-style="dotted">
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="fas fa-browser text-primary text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Go to Access SBC page</h6>
                                <p class="text-sm mt-3 mb-2">You can see it on sidebar menu.</p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="fas fa-clipboard-list text-primary text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Reserve your spot</h6>
                                <p class="text-sm mt-3 mb-2">Anytime you're ready, please reserve your spot by adding the reservation data.</p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="fas fa-cloud-download text-primary text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Download Module</h6>
                                <p class="text-sm mt-3 mb-2">Click download button on this page. For now only pdf version available.</p>
                                <span class="badge badge-sm bg-gradient-info">WIP : Web version</span>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="fas fa-user-clock text-primary text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">Wait until access granted</h6>
                                <p class="text-sm mt-3 mb-2">When access granted, you'll be given the <span class="font-weight-bold">SBC and Camera Streaming Web </span>credentials by email. Don't share the credentials to anyone but you.</p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="fas fa-clipboard-check text-primary text-gradient"></i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">You are ready!</h6>
                                <p class="text-sm mt-3 mb-2">Proceed the steps by reading the module. Whenever you have trouble, please report by clicking the contact admin button.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
