<!-- body class = bg-gray-300 -->
<main class="main-content mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
                        <div class="card bg-cover bg-gradient-dark full-bg-pattern-gdark shadow-lg" style="max-width: 550px; z-index: 1">
                            <div class="card-body">
                                <img src="../assets/logo-transparent.png" alt="Logo TrainerCV DPTE" class="img-fluid d-block mx-auto mb-4 mt-n6" style="max-width: 100px; filter: drop-shadow(0px 5px 7px black)" />
                                <h4 class="font-weight-bolder text-white">Hello, there! 😎</h4>
                                <p class="mb-0 text-white">Welcome to <span class="font-weight-bold">Trainer Computer Vision Portal</span> of DPTE FPTK Universitas Pendidikan Indonesia. Let's get started using your Google Account.</p>
                                <button type="button" class="tcv-login btn btn-lg bg-gradient-faded-light btn-lg w-100 mt-4 mb-0 text-center">Sign in</button>
                            </div>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-4 text-sm mx-auto">
                                    Don't have an Google account?
                                    <a href="https://accounts.google.com/SignUp?hl=en" class="text-primary text-gradient font-weight-bold" target="_blank">Create one!</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-lg-block d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                        <div class="position-relative bg-gradient-primary cover-bg-pattern h-100 px-7 border-radius-lg d-flex flex-column justify-content-center">
                            <!-- <div class="position-relative">
                                <img class="max-width-500 w-100 position-relative z-index-2" src="../vendor/soft-ui-dashboard/img/illustrations/chat.png" alt="chat-img" />
                            </div>
                            <h4 class="mt-5 text-white font-weight-bolder">"Attention is the new currency"</h4>
                            <p class="text-white">The more effortless the writing looks, the more effort the writer actually put into the process.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
