<div class="container-fluid">
    <div class="module-intro"></div>
    <hr class="horizontal dark" />
    <h3 class="mb-3">Data Monitoring</h3>
    <div class="row mb-4">
        <div class="col-lg-6 col-md-12 col-12 mb-4">
            <div class="card h-100 bg-gradient-dark text-light">
                <div class="card-body">
                    <div id="lcd-container" class="lcd-container d-block mx-auto"></div>
                    <p class="mt-4 font-weight-bold mb-0">Detected Fruit</p>
                    <span class="text-xs module-4-lcd-lu">Last updated : Undefined</span>
                </div>
            </div>
        </div>
    </div>
</div>
