<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-card">
                <div class="card-header bg-gradient-dark py-3">
                    <h6 class="text-white my-0"><i class="fas fa-books me-2"></i>Resources</h6>
                </div>
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4">
                            <h5>Documentation</h5>
                            <ul class="list-group">
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://docs.python.org/3/_static/py.svg" alt="Python" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Python</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://docs.python.org/3/" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://www.vectorlogo.zone/logos/tensorflow/tensorflow-icon.svg" alt="TensorFlow" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">TensorFlow</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://www.tensorflow.org/api_docs/python/tf" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://keras.io/img/favicon.ico" alt="Keras" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Keras</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://keras.io/api/" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://www.vectorlogo.zone/logos/opencv/opencv-icon.svg" alt="OpenCV" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">OpenCV</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://docs.opencv.org/4.5.3/" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://mediapipe.dev/assets/img/favicon.svg" alt="Mediapipe" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Mediapipe</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://google.github.io/mediapipe/" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <h5>Learning Resources</h5>
                            <ul class="list-group">
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://www.codecademy.com/webpack/c41d5739bf341f298860a4e1c0bd432e.svg" alt="Google" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Machine Learning Crash Course</h6>
                                            <span class="text-xs">Intro to Machine Learning</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://developers.google.com/machine-learning/crash-course/ml-intro" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://www.codecademy.com/webpack/c41d5739bf341f298860a4e1c0bd432e.svg" alt="Google" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Machine Learning Crash Course</h6>
                                            <span class="text-xs">Problem Framing</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://developers.google.com/machine-learning/problem-framing" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://www.codecademy.com/webpack/c41d5739bf341f298860a4e1c0bd432e.svg" alt="Google" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Machine Learning Crash Course</h6>
                                            <span class="text-xs">Data Preparation</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://developers.google.com/machine-learning/data-prep" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://www.vectorlogo.zone/logos/tensorflow/tensorflow-icon.svg" alt="TensorFlow" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">TensorFlow</h6>
                                            <span class="text-xs">TensorFlow Tutorial</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://www.tensorflow.org/tutorials" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://www.vectorlogo.zone/logos/opencv/opencv-icon.svg" alt="OpenCV" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">OpenCV</h6>
                                            <span class="text-xs">OpenCV Tutorial</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://docs.opencv.org/master/d6/d00/tutorial_py_root.html" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://mediapipe.dev/assets/img/favicon.svg" alt="Mediapipe" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Mediapipe</h6>
                                            <span class="text-xs">Mediapipe Tutorial</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://google.github.io/mediapipe/solutions/solutions.html" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <h5>Courses</h5>
                            <ul class="list-group">
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://www.codecademy.com/favicon.ico" alt="Codecademy" class="img-fluid p-2" style="filter: invert()" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Codecademy</h6>
                                            <span class="text-xs">Learn Command Line/Terminal</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://www.codecademy.com/learn/learn-the-command-line" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://www.codecademy.com/favicon.ico" alt="Codecademy" class="img-fluid p-2" style="filter: invert()" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Codecademy</h6>
                                            <span class="text-xs">Learn Python 3</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://www.codecademy.com/learn/learn-python-3" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://scrimba.com/favicon.ico" alt="Scrimba" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Scrimba</h6>
                                            <span class="text-xs">Learn Python 3</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://scrimba.com/learn/python" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://www.dicoding.com/android-chrome-192x192.png" alt="Dicoding" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Dicoding</h6>
                                            <span class="text-xs">Machine Learning for Beginner</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://www.dicoding.com/academies/184" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                    <div class="d-flex align-items-center">
                                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                            <img src="https://www.vectorlogo.zone/logos/coursera/coursera-icon.svg" alt="Coursera" class="img-fluid p-2" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark text-sm">Coursera</h6>
                                            <span class="text-xs">Learn TensorFlow Specialization</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto" href="https://www.coursera.org/professional-certificates/tensorflow-in-practice" target="_blank"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
