<div class="d-block mx-auto">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center pb-5">
            <div class="col-lg-6 my-auto position-relative">
                <img class="w-100 position-relative" src="../vendor/soft-ui-dashboard/img/illustrations/error-500.png" alt="500-error" />
            </div>
            <div class="col-lg-6 my-auto">
                <h1 class="display-1 text-bolder text-gradient text-warning"><i class="fas fa-exclamation-triangle me-2"></i>Oops!</h1>
                <h2>This page is under construction</h2>
                <p class="lead">If this is a mistake, please report to administrator</p>
                <a href="./index.html" class="btn bg-gradient-dark mt-4">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>
